```
INSERT INTO table1(column1, column2, …)
VALUES (value1, value2, …);
```

In [12]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

In [13]:
table_sql = """
CREATE TABLE links (
  id SERIAL PRIMARY KEY, 
  url VARCHAR(255) NOT NULL, 
  name VARCHAR(255) NOT NULL, 
  description VARCHAR (255), 
  last_update DATE
);
"""

cursor.execute(table_sql)

In [4]:
insert_sql = """
INSERT INTO links (url, name)
VALUES('https://www.postgresqltutorial.com','PostgreSQL Tutorial');
"""

cursor.execute(insert_sql)

In [5]:
insert_sql = """
INSERT INTO links (url, name, last_update)
VALUES('https://www.google.com','Google','2013-06-01');
"""

cursor.execute(insert_sql)

In [7]:
sql = """
SELECT * FROM links;
"""

run_sql(cursor, sql)

   id                                 url                 name description  \
0   1  https://www.postgresqltutorial.com  PostgreSQL Tutorial        None
1   2              https://www.google.com               Google        None

  last_update
0        None
1  2013-06-01

In [14]:
insert_sql = """
INSERT INTO links (url, name, last_update)
VALUES
('https://www.google.com','Google','2013-06-01'),
('https://www.google2.com','Google2','2013-06-02'),
('https://www.google3.com','Google3','2013-06-03');
"""

cursor.execute(insert_sql)

In [15]:
sql = """
SELECT * FROM links;
"""

run_sql(cursor, sql)

   id                      url     name description last_update
0   1   https://www.google.com   Google        None  2013-06-01
1   2  https://www.google2.com  Google2        None  2013-06-02
2   3  https://www.google3.com  Google3        None  2013-06-03