```
CUBE(c1,c2,c3) 

GROUPING SETS (
    (c1,c2,c3), 
    (c1,c2),
    (c1,c3),
    (c2,c3),
    (c1),
    (c2),
    (c3), 
    ()
 ) 
```

上面两个子句功能相同。

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
DROP TABLE IF EXISTS sales;
CREATE TABLE sales (
    brand VARCHAR NOT NULL,
    segment VARCHAR NOT NULL,
    quantity INT NOT NULL,
    PRIMARY KEY (brand, segment)
);

INSERT INTO sales (brand, segment, quantity)
VALUES
    ('ABC', 'Premium', 100),
    ('ABC', 'Basic', 200),
    ('XYZ', 'Premium', 100),
    ('XYZ', 'Basic', 300);
"""

cursor.execute(sql)

In [3]:
sql = """
SELECT
    brand,
    segment,
    SUM (quantity)
FROM
    sales
GROUP BY
    CUBE (brand, segment)
ORDER BY
    brand,
    segment;
"""

run_sql(cursor, sql)

  brand  segment  sum
0   ABC    Basic  200
1   ABC  Premium  100
2   ABC     None  300
3   XYZ    Basic  300
4   XYZ  Premium  100
5   XYZ     None  400
6  None    Basic  500
7  None  Premium  200
8  None     None  700

In [4]:
sql = """
SELECT
    brand,
    segment,
    SUM (quantity)
FROM
    sales
GROUP BY
    brand,
    CUBE (segment)
ORDER BY
    brand,
    segment;
"""

run_sql(cursor, sql)

  brand  segment  sum
0   ABC    Basic  200
1   ABC  Premium  100
2   ABC     None  300
3   XYZ    Basic  300
4   XYZ  Premium  100
5   XYZ     None  400