`LEFT JOIN` 也被称之为 `LEFT OUTER JOIN`

```
SELECT 
  select_list 
FROM 
  table1
LEFT JOIN table2 
  ON table1.column_name = table2.column_name;
```

In [1]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [2]:
sql = """
SELECT 
  film.film_id, 
  film.title, 
  inventory.inventory_id 
FROM 
  film 
  LEFT JOIN inventory ON inventory.film_id = film.film_id 
ORDER BY 
  film.title;
"""

run_sql(cursor, sql)

      film_id             title  inventory_id
0           1  Academy Dinosaur           6.0
1           1  Academy Dinosaur           1.0
2           1  Academy Dinosaur           4.0
3           1  Academy Dinosaur           7.0
4           1  Academy Dinosaur           3.0
...       ...               ...           ...
4618     1000         Zorro Ark        4580.0
4619     1000         Zorro Ark        4577.0
4620     1000         Zorro Ark        4576.0
4621     1000         Zorro Ark        4575.0
4622     1000         Zorro Ark        4574.0

[4623 rows x 3 columns]

In [3]:
# 可以简化成这样
sql = """
SELECT 
  f.film_id, 
  f.title, 
  i.inventory_id 
FROM 
  film f
  LEFT JOIN inventory i USING (film_id)
ORDER BY 
  i.inventory_id;
"""

run_sql(cursor, sql)

      film_id                title  inventory_id
0           1     Academy Dinosaur           1.0
1           1     Academy Dinosaur           2.0
2           1     Academy Dinosaur           3.0
3           1     Academy Dinosaur           4.0
4           1     Academy Dinosaur           5.0
...       ...                  ...           ...
4618       14       Alice Fantasia           NaN
4619      943    Villain Desperate           NaN
4620      874         Tadpole Park           NaN
4621      217           Dazed Punk           NaN
4622      144  Chinatown Gladiator           NaN

[4623 rows x 3 columns]

In [4]:
sql = """
SELECT 
  f.film_id, 
  f.title, 
  i.inventory_id 
FROM 
  film f 
  LEFT JOIN inventory i USING (film_id) 
WHERE 
  i.film_id IS NULL 
ORDER BY 
  f.title;
"""

run_sql(cursor, sql)

    film_id                   title inventory_id
0        14          Alice Fantasia         None
1        33             Apollo Teen         None
2        36          Argonauts Town         None
3        38           Ark Ridgemont         None
4        41    Arsenic Independence         None
5        87       Boondock Ballroom         None
6       108           Butch Panther         None
7       128           Catch Amistad         None
8       144     Chinatown Gladiator         None
9       148          Chocolate Duck         None
10      171    Commandments Express         None
11      192        Crossing Divorce         None
12      195         Crowds Telemark         None
13      198        Crystal Breaking         None
14      217              Dazed Punk         None
15      221  Deliverance Mulholland         None
16      318       Firehouse Vietnam         None
17      325           Floats Garden         None
18      332   Frankenstein Stranger         None
19      359      Gladiator Westward         None
20      386               Gump Date         None
21      404           Hate Handicap         None
22      419             Hocus Frida         None
23      495        Kentuckian Giant         None
24      497        Kill Brotherhood         None
25      607             Muppet Mile         None
26      642          Order Betrayed         None
27      669           Pearl Destiny         None
28      671         Perdition Fargo         None
29      701           Psycho Shrunk         None
30      712       Raiders Antitrust         None
31      713           Rainbow Shock         None
32      742           Roof Champion         None
33      801           Sister Freddy         None
34      802             Sky Miracle         None
35      860        Suicides Silence         None
36      874            Tadpole Park         None
37      909        Treasure Command         None
38      943       Villain Desperate         None
39      950            Volume House         None
40      954               Wake Jaws         None
41      955            Walls Artist         None