`NATURAL JOIN` 是一种基于连接表中相同列名创建隐式连接的连接。
```
SELECT select_list
FROM table1
NATURAL [INNER, LEFT, RIGHT] JOIN table2;
```

```
SELECT select_list
FROM table1
NATURAL INNER JOIN table2;
```
与下面等同
```
SELECT select_list
FROM table1
INNER JOIN table2 USING (column_name);
```

```
SELECT select_list
FROM table1
NATURAL LEFT JOIN table2;
```
与下面等同
```
SELECT select_list
FROM table1
LEFT JOIN table2 USING (column_name);
```

In [1]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [2]:
sql = """
CREATE TABLE categories (
  category_id SERIAL PRIMARY KEY, 
  category_name VARCHAR (255) NOT NULL
);

CREATE TABLE products (
  product_id serial PRIMARY KEY, 
  product_name VARCHAR (255) NOT NULL, 
  category_id INT NOT NULL, 
  FOREIGN KEY (category_id) REFERENCES categories (category_id)
);

INSERT INTO categories (category_name) 
VALUES 
  ('Smartphone'), 
  ('Laptop'), 
  ('Tablet'),
  ('VR');

INSERT INTO products (product_name, category_id) 
VALUES 
  ('iPhone', 1), 
  ('Samsung Galaxy', 1), 
  ('HP Elite', 2), 
  ('Lenovo Thinkpad', 2), 
  ('iPad', 3), 
  ('Kindle Fire', 3);
"""

In [3]:
cursor.execute(sql)

In [4]:
sql = """
SELECT * 
FROM products
NATURAL JOIN categories;
"""

run_sql(cursor, sql)

   category_id  product_id     product_name category_name
0            1           1           iPhone    Smartphone
1            1           2   Samsung Galaxy    Smartphone
2            2           3         HP Elite        Laptop
3            2           4  Lenovo Thinkpad        Laptop
4            3           5             iPad        Tablet
5            3           6      Kindle Fire        Tablet

In [5]:
sql = """
SELECT * 
FROM categories
NATURAL LEFT JOIN products;
"""

run_sql(cursor, sql)

   category_id category_name  product_id     product_name
0            1    Smartphone         1.0           iPhone
1            1    Smartphone         2.0   Samsung Galaxy
2            2        Laptop         3.0         HP Elite
3            2        Laptop         4.0  Lenovo Thinkpad
4            3        Tablet         5.0             iPad
5            3        Tablet         6.0      Kindle Fire
6            4            VR         NaN             None

In [6]:
# 在实践中，应该尽可能避免使用 NATURAL JOIN，因为有时它可能会导致意外结果。

sql = """
SELECT * 
FROM city
NATURAL JOIN country;
"""

run_sql(cursor, sql)
# 因为上述两张表都有 last_update 列

Empty DataFrame
Columns: [country_id, last_update, city_id, city, country]
Index: []