```
SELECT select_list
FROM table_name t1
INNER JOIN table_name t2 ON join_predicate;
```

用以下数据为例
![self join example](./pg_self_join_data.png)

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [3]:
table_sql = """
CREATE TABLE employee (
  employee_id INT PRIMARY KEY, 
  first_name VARCHAR (255) NOT NULL, 
  last_name VARCHAR (255) NOT NULL, 
  manager_id INT, 
  FOREIGN KEY (manager_id) REFERENCES employee (employee_id) ON DELETE CASCADE
);
"""

data_sql = """
INSERT INTO employee (employee_id, first_name, last_name, manager_id) 
VALUES 
  (1, 'Windy', 'Hays', NULL), 
  (2, 'Ava', 'Christensen', 1), 
  (3, 'Hassan', 'Conner', 1), 
  (4, 'Anna', 'Reeves', 2), 
  (5, 'Sau', 'Norman', 2), 
  (6, 'Kelsie', 'Hays', 3), 
  (7, 'Tory', 'Goff', 3), 
  (8, 'Salley', 'Lester', 3);
"""

In [4]:
cursor.execute(table_sql)
cursor.execute(data_sql)

In [5]:
sql = """
SELECT 
  e.first_name || ' ' || e.last_name employee, 
  m.first_name || ' ' || m.last_name manager 
FROM 
  employee e 
  INNER JOIN employee m ON m.employee_id = e.manager_id 
ORDER BY 
  manager;
"""

run_sql(cursor, sql)

          employee          manager
0       Sau Norman  Ava Christensen
1      Anna Reeves  Ava Christensen
2    Salley Lester    Hassan Conner
3      Kelsie Hays    Hassan Conner
4        Tory Goff    Hassan Conner
5  Ava Christensen       Windy Hays
6    Hassan Conner       Windy Hays

In [6]:
sql = """
SELECT 
  e.first_name || ' ' || e.last_name employee, 
  m.first_name || ' ' || m.last_name manager 
FROM 
  employee e 
  LEFT JOIN employee m ON m.employee_id = e.manager_id 
ORDER BY 
  manager;
"""

run_sql(cursor, sql)

          employee          manager
0      Anna Reeves  Ava Christensen
1       Sau Norman  Ava Christensen
2    Salley Lester    Hassan Conner
3      Kelsie Hays    Hassan Conner
4        Tory Goff    Hassan Conner
5    Hassan Conner       Windy Hays
6  Ava Christensen       Windy Hays
7       Windy Hays             None

In [13]:
sql = """
SELECT 
  f1.film_id as file_1_id,
  f1.title as file_1_title, 
  f2.title as file_2_title, 
  f1.length 
FROM 
  film f1 
  INNER JOIN film f2 ON f1.film_id > f2.film_id 
  AND f1.length = f2.length;
"""

run_sql(cursor, sql)

      file_1_id       file_1_title       file_2_title  length
0           133    Chamber Italian   Affair Prejudice     117
1           384   Grosse Wonderful    Doors President      49
2            98  Bright Encounters  Bedazzled Married      73
3           213         Date Speed        Crow Grease     104
4            26     Annie Identity   Academy Dinosaur      86
...         ...                ...                ...     ...
3481       1000          Zorro Ark        Muppet Mile      50
3482       1000          Zorro Ark         Lion Uncut      50
3483       1000          Zorro Ark   Crossing Divorce      50
3484       1000          Zorro Ark     Blues Instinct      50
3485       1000          Zorro Ark   Adaptation Holes      50

[3486 rows x 4 columns]