 a correlated subquery is a subquery that references the columns from the outer query.
 
由于 PostgreSQL 会重新评估外部查询中每一行的相关子查询，因此在大规模数据集的情况下可能会导致性能问题。

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
SELECT film_id, title, length, rating
FROM film f
WHERE length > (
    SELECT AVG(length)
    FROM film
    WHERE rating = f.rating
);
"""

run_sql(cursor, sql)

     film_id             title  length rating
0        133   Chamber Italian     117  NC-17
1          4  Affair Prejudice     117      G
2          5       African Egg     130      G
3          6      Agent Truman     169     PG
4         11   Alamo Videotape     126      G
..       ...               ...     ...    ...
492      991      Worst Banger     185     PG
493      992        Wrath Mile     176  NC-17
494      993    Wrong Behavior     178  PG-13
495      996    Young Language     183      G
496      997        Youth Kick     179  NC-17

[497 rows x 4 columns]