```
SELECT 
  column1, 
  aggregate_function (column2) 
FROM 
  table_name 
GROUP BY 
  column1 
HAVING 
  condition;
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
SELECT 
  customer_id, 
  SUM (amount) amount 
FROM 
  payment 
GROUP BY 
  customer_id 
ORDER BY 
  amount DESC;
"""

run_sql(cursor, sql)

     customer_id  amount
0            148  211.55
1            526  208.58
2            178  194.61
3            137  191.62
4            144  189.60
..           ...     ...
594          110   49.88
595          320   47.85
596          248   37.87
597          281   32.90
598          318   27.93

[599 rows x 2 columns]

In [3]:
sql = """
SELECT 
  customer_id, 
  SUM (amount) amount 
FROM 
  payment 
GROUP BY 
  customer_id 
HAVING 
  SUM (amount) > 200 
ORDER BY 
  amount DESC;
"""

run_sql(cursor, sql)

   customer_id  amount
0          148  211.55
1          526  208.58