`FULL OUTER JOIN` 返回的是 `LEFT JOIN` 和 `RIGHT JOIN` 数据的集合。

```
SELECT select_list
FROM table1
FULL OUTER JOIN table2 
   ON table1.column_name = table2.column_name;
```

In [4]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [5]:
table1_sql = """
CREATE TABLE departments (
  department_id serial PRIMARY KEY, 
  department_name VARCHAR (255) NOT NULL
);
"""
table2_sql = """
CREATE TABLE employees (
  employee_id serial PRIMARY KEY, 
  employee_name VARCHAR (255), 
  department_id INTEGER
);
"""

table1_data_sql = """
INSERT INTO departments (department_name) 
VALUES 
  ('Sales'), 
  ('Marketing'), 
  ('HR'), 
  ('IT'), 
  ('Production');
"""
table2_data_sql = """
INSERT INTO employees (employee_name, department_id) 
VALUES 
  ('Bette Nicholson', 1), 
  ('Christian Gable', 1), 
  ('Joe Swank', 2), 
  ('Fred Costner', 3), 
  ('Sandra Kilmer', 4), 
  ('Julia Mcqueen', NULL);
"""

In [6]:
cursor.execute(table1_sql)
cursor.execute(table2_sql)
cursor.execute(table1_data_sql)
cursor.execute(table2_data_sql)

In [7]:
sql = """
SELECT 
  employee_name, 
  department_name 
FROM 
  employees e 
FULL OUTER JOIN departments d 
  ON d.department_id = e.department_id;
"""

run_sql(cursor, sql)

     employee_name department_name
0  Bette Nicholson           Sales
1  Christian Gable           Sales
2        Joe Swank       Marketing
3     Fred Costner              HR
4    Sandra Kilmer              IT
5    Julia Mcqueen            None
6             None      Production

In [8]:
sql = """
SELECT 
  employee_name, 
  department_name 
FROM 
  employees e 
FULL OUTER JOIN departments d 
  ON d.department_id = e.department_id 
WHERE 
  employee_name IS NULL;
"""

run_sql(cursor, sql)

  employee_name department_name
0          None      Production

In [9]:
sql = """
SELECT 
  employee_name, 
  department_name 
FROM 
  employees e 
FULL OUTER JOIN departments d 
  ON d.department_id = e.department_id 
WHERE 
  department_name IS NULL;
"""

run_sql(cursor, sql)

   employee_name department_name
0  Julia Mcqueen            None