```
SELECT 
  select_list 
FROM 
  table_name 
ORDER BY 
  sort_expression 
LIMIT 
  row_count;
```

返回 `row_count` 行，如果 `row_count` 是 0，查询返回空集合，如果 `row_count` 是 `NULL`，查询返回和没有 `LIMIT` 一样的集合。

如果要跳过特定的行，
```
SELECT 
  select_list 
FROM 
  table_name 
ORDER BY 
  sort_expression 
LIMIT 
  row_count OFFSET row_to_skip;
```

使用 `LIMIT` 时，数据存储是无序的，因此需要 `ORDER BY` 控制返回的数据排序。

In [1]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [10]:
sql = """
SELECT 
  film_id, 
  title, 
  release_year 
FROM 
  film 
ORDER BY 
  film_id 
LIMIT 
  5;
"""

run_sql(cursor, sql)

   film_id             title  release_year
0        1  Academy Dinosaur          2006
1        2    Ace Goldfinger          2006
2        3  Adaptation Holes          2006
3        4  Affair Prejudice          2006
4        5       African Egg          2006

In [11]:
sql = """
SELECT 
  film_id, 
  title, 
  release_year 
FROM 
  film 
ORDER BY 
  film_id 
LIMIT 4 OFFSET 3;
"""

run_sql(cursor, sql)

   film_id             title  release_year
0        4  Affair Prejudice          2006
1        5       African Egg          2006
2        6      Agent Truman          2006
3        7   Airplane Sierra          2006

In [12]:
sql = """
SELECT 
  film_id, 
  title, 
  rental_rate 
FROM 
  film 
ORDER BY 
  rental_rate DESC 
LIMIT 
  10;
"""

run_sql(cursor, sql)

   film_id                title rental_rate
0       13          Ali Forever        4.99
1       20  Amelie Hellfighters        4.99
2        7      Airplane Sierra        4.99
3       10     Aladdin Calendar        4.99
4        2       Ace Goldfinger        4.99
5        8      Airport Pollock        4.99
6       98    Bright Encounters        4.99
7      133      Chamber Italian        4.99
8      384     Grosse Wonderful        4.99
9       21      American Circus        4.99