```
OFFSET row_to_skip { ROW | ROWS }
FETCH { FIRST | NEXT } [ row_count ] { ROW | ROWS } ONLY
```

`FETCH` 与 `LIMIT` 唯一区别是：`LIMIT` 不是 SQL 标准，而 `FETCH` 是。

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

In [2]:
sql = """
SELECT
    film_id,
    title
FROM
    film
ORDER BY
    title 
FETCH FIRST ROW ONLY;
"""

run_sql(cursor, sql)

   film_id             title
0        1  Academy Dinosaur

In [5]:
sql = """
SELECT
    film_id,
    title
FROM
    film
ORDER BY
    title 
FETCH FIRST 6 ROW ONLY;
"""

run_sql(cursor, sql)

   film_id             title
0        1  Academy Dinosaur
1        2    Ace Goldfinger
2        3  Adaptation Holes
3        4  Affair Prejudice
4        5       African Egg
5        6      Agent Truman

In [4]:
sql = """
SELECT
    film_id,
    title
FROM
    film
ORDER BY
    title 
OFFSET 5 ROWS 
FETCH FIRST 5 ROW ONLY; 
"""

run_sql(cursor, sql)

   film_id             title
0        6      Agent Truman
1        7   Airplane Sierra
2        8   Airport Pollock
3        9     Alabama Devil
4       10  Aladdin Calendar