```
SELECT 
  select_list 
FROM 
  table1 
WHERE 
  columnA operator (
    SELECT 
      columnB 
    from 
      table2 
    WHERE 
      condition
  );
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
SELECT 
  country_id 
from 
  country 
where 
  country = 'United States';
"""

run_sql(cursor, sql)

   country_id
0         103

In [3]:
sql = """
SELECT 
  city 
FROM 
  city 
WHERE 
  country_id = 103 
ORDER BY 
  city;
"""

run_sql(cursor, sql)

                       city
0                     Akron
1                 Arlington
2   Augusta-Richmond County
3                    Aurora
4                  Bellevue
5                  Brockton
6                Cape Coral
7            Citrus Heights
8               Clarksville
9                   Compton
10                   Dallas
11                   Dayton
12                 El Monte
13                  Fontana
14             Garden Grove
15                  Garland
16            Grand Prairie
17               Greensboro
18                   Joliet
19              Kansas City
20                Lancaster
21                   Laredo
22                  Lincoln
23               Manchester
24                  Memphis
25                   Peoria
26                  Roanoke
27                 Rockford
28              Saint Louis
29                  Salinas
30           San Bernardino
31         Sterling Heights
32                Sunnyvale
33              Tallahassee
34                   Warren

In [4]:
# 将上述两个查询合二为一
sql = """
SELECT 
  city 
FROM 
  city 
WHERE 
  country_id = (
    SELECT 
      country_id 
    FROM 
      country 
    WHERE 
      country = 'United States'
  ) 
ORDER BY 
  city;
"""

run_sql(cursor, sql)

                       city
0                     Akron
1                 Arlington
2   Augusta-Richmond County
3                    Aurora
4                  Bellevue
5                  Brockton
6                Cape Coral
7            Citrus Heights
8               Clarksville
9                   Compton
10                   Dallas
11                   Dayton
12                 El Monte
13                  Fontana
14             Garden Grove
15                  Garland
16            Grand Prairie
17               Greensboro
18                   Joliet
19              Kansas City
20                Lancaster
21                   Laredo
22                  Lincoln
23               Manchester
24                  Memphis
25                   Peoria
26                  Roanoke
27                 Rockford
28              Saint Louis
29                  Salinas
30           San Bernardino
31         Sterling Heights
32                Sunnyvale
33              Tallahassee
34                   Warren

In [5]:
sql = """
SELECT 
  film_id 
FROM 
  film_category 
  INNER JOIN category USING(category_id) 
WHERE 
  name = 'Action';
"""

run_sql(cursor, sql)

    film_id
0        19
1        21
2        29
3        38
4        56
..      ...
59      927
60      964
61      968
62      982
63      991

[64 rows x 1 columns]

In [6]:
sql = """
SELECT 
  film_id, 
  title 
FROM 
  film 
WHERE 
  film_id IN (
    SELECT 
      film_id 
    FROM 
      film_category 
      INNER JOIN category USING(category_id) 
    WHERE 
      name = 'Action'
  ) 
ORDER BY 
  film_id;
"""

run_sql(cursor, sql)

    film_id                   title
0        19            Amadeus Holy
1        21         American Circus
2        29      Antitrust Tomatoes
3        38           Ark Ridgemont
4        56     Barefoot Manchurian
..      ...                     ...
59      927         Uprising Uptown
60      964  Waterfront Deliverance
61      968           Werewolf Lola
62      982            Women Dorado
63      991            Worst Banger

[64 rows x 2 columns]