In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [3]:
sql = """
CREATE TABLE courses(
  course_id serial PRIMARY KEY, 
  course_name VARCHAR(255) NOT NULL, 
  price DECIMAL(10,2) NOT NULL,
  description VARCHAR(500), 
  published_date date
);


INSERT INTO courses( course_name, price, description, published_date) 
VALUES 
('PostgreSQL for Developers', 299.99, 'A complete PostgreSQL for Developers', '2020-07-13'), 
('PostgreSQL Admininstration', 349.99, 'A PostgreSQL Guide for DBA', NULL), 
('PostgreSQL High Performance', 549.99, NULL, NULL), 
('PostgreSQL Bootcamp', 777.99, 'Learn PostgreSQL via Bootcamp', '2013-07-11'), 
('Mastering PostgreSQL', 999.98, 'Mastering PostgreSQL in 21 Days', '2012-06-30');

SELECT * FROM courses;
"""

cursor.execute(sql)

In [4]:
sql = """
UPDATE courses
SET published_date = '2020-08-01' 
WHERE course_id = 3;
"""

run_sql(cursor, sql)

ProgrammingError: the last operation didn't produce a result

In [5]:
sql = """
SELECT course_id, course_name, published_date
FROM courses
WHERE course_id = 3;
"""

run_sql(cursor, sql)

   course_id                  course_name published_date
0          3  PostgreSQL High Performance     2020-08-01

In [6]:
sql = """
UPDATE courses
SET published_date = '2020-07-01'
WHERE course_id = 2
RETURNING *;
"""

run_sql(cursor, sql)

   course_id                 course_name   price                 description  \
0          2  PostgreSQL Admininstration  349.99  A PostgreSQL Guide for DBA

  published_date
0     2020-07-01

# Update Join

In [15]:
sql = """
CREATE TABLE product_segment (
    id SERIAL PRIMARY KEY,
    segment VARCHAR NOT NULL,
    discount NUMERIC (4, 2)
);


INSERT INTO 
    product_segment (segment, discount)
VALUES
    ('Grand Luxury', 0.05),
    ('Luxury', 0.06),
    ('Mass', 0.1);
    
CREATE TABLE product(
    id SERIAL PRIMARY KEY,
    name VARCHAR NOT NULL,
    price NUMERIC(10,2),
    net_price NUMERIC(10,2),
    segment_id INT NOT NULL,
    FOREIGN KEY(segment_id) REFERENCES product_segment(id)
);


INSERT INTO 
    product (name, price, segment_id) 
VALUES 
    ('diam', 804.89, 1),
    ('vestibulum aliquet', 228.55, 3),
    ('lacinia erat', 366.45, 2),
    ('scelerisque quam turpis', 145.33, 3),
    ('justo lacinia', 551.77, 2),
    ('ultrices mattis odio', 261.58, 3),
    ('hendrerit', 519.62, 2),
    ('in hac habitasse', 843.31, 1),
    ('orci eget orci', 254.18, 3),
    ('pellentesque', 427.78, 2),
    ('sit amet nunc', 936.29, 1),
    ('sed vestibulum', 910.34, 1),
    ('turpis eget', 208.33, 3),
    ('cursus vestibulum', 985.45, 1),
    ('orci nullam', 841.26, 1),
    ('est quam pharetra', 896.38, 1),
    ('posuere', 575.74, 2),
    ('ligula', 530.64, 2),
    ('convallis', 892.43, 1),
    ('nulla elit ac', 161.71, 3);
"""

cursor.execute(sql)

In [16]:
sql = """
UPDATE 
    product p
SET 
    net_price = price - price * discount
FROM 
    product_segment s
WHERE 
    p.segment_id = s.id
RETURNING *;
"""

run_sql(cursor, sql)

    id                     name   price net_price  segment_id  id  \
0    1                     diam  804.89    764.65           1   1
1    2       vestibulum aliquet  228.55    205.70           3   3
2    3             lacinia erat  366.45    344.46           2   2
3    4  scelerisque quam turpis  145.33    130.80           3   3
4    5            justo lacinia  551.77    518.66           2   2
5    6     ultrices mattis odio  261.58    235.42           3   3
6    7                hendrerit  519.62    488.44           2   2
7    8         in hac habitasse  843.31    801.14           1   1
8    9           orci eget orci  254.18    228.76           3   3
9   10             pellentesque  427.78    402.11           2   2
10  11            sit amet nunc  936.29    889.48           1   1
11  12           sed vestibulum  910.34    864.82           1   1
12  13              turpis eget  208.33    187.50           3   3
13  14        cursus vestibulum  985.45    936.18           1   1
14  15              orci nullam  841.26    799.20           1   1
15  16        est quam pharetra  896.38    851.56           1   1
16  17                  posuere  575.74    541.20           2   2
17  18                   ligula  530.64    498.80           2   2
18  19                convallis  892.43    847.81           1   1
19  20            nulla elit ac  161.71    145.54           3   3

         segment discount
0   Grand Luxury     0.05
1           Mass     0.10
2         Luxury     0.06
3           Mass     0.10
4         Luxury     0.06
5           Mass     0.10
6         Luxury     0.06
7   Grand Luxury     0.05
8           Mass     0.10
9         Luxury     0.06
10  Grand Luxury     0.05
11  Grand Luxury     0.05
12          Mass     0.10
13  Grand Luxury     0.05
14  Grand Luxury     0.05
15  Grand Luxury     0.05
16        Luxury     0.06
17        Luxury     0.06
18  Grand Luxury     0.05
19          Mass     0.10

```
DELETE FROM table_name
WHERE condition;
```

```
DELETE FROM table_name
WHERE condition
RETURNING (select_list | *)
```

In [22]:
sql = """
CREATE TABLE todos (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    completed BOOLEAN NOT NULL DEFAULT false
);

INSERT INTO todos (title, completed) VALUES
    ('Learn basic SQL syntax', true),
    ('Practice writing SELECT queries', false),
    ('Study PostgreSQL data types', true),
    ('Create and modify tables', false),
    ('Explore advanced SQL concepts', true),
    ('Understand indexes and optimization', false),
    ('Backup and restore databases', true),
    ('Implement transactions', false),
    ('Master PostgreSQL security features', true),
    ('Build a sample application with PostgreSQL', false);

SELECT * FROM todos;
"""

cursor.execute(sql)

In [18]:
sql = """
DELETE FROM todos
WHERE id = 1
RETURNING *;
"""

run_sql(cursor, sql)

   id                   title  completed
0   1  Learn basic SQL syntax       True

In [19]:
sql = """
DELETE FROM todos
WHERE completed = true
RETURNING *;
"""

run_sql(cursor, sql)

   id                                title  completed
0   3          Study PostgreSQL data types       True
1   5        Explore advanced SQL concepts       True
2   7         Backup and restore databases       True
3   9  Master PostgreSQL security features       True

In [23]:
sql = """
DELETE FROM todos
RETURNING *;
"""

run_sql(cursor, sql)

   id                                       title  completed
0   1                      Learn basic SQL syntax       True
1   2             Practice writing SELECT queries      False
2   3                 Study PostgreSQL data types       True
3   4                    Create and modify tables      False
4   5               Explore advanced SQL concepts       True
5   6         Understand indexes and optimization      False
6   7                Backup and restore databases       True
7   8                      Implement transactions      False
8   9         Master PostgreSQL security features       True
9  10  Build a sample application with PostgreSQL      False

# Delete Join

In [2]:
sql = """
CREATE TABLE member(
   id SERIAL PRIMARY KEY,
   first_name VARCHAR(50) NOT NULL,
   last_name VARCHAR(50) NOT NULL,
   phone VARCHAR(15) NOT NULL
);


CREATE TABLE denylist(
    phone VARCHAR(15) PRIMARY KEY
);


INSERT INTO member(first_name, last_name, phone)
VALUES ('John','Doe','(408)-523-9874'),
       ('Jane','Doe','(408)-511-9876'),
       ('Lily','Bush','(408)-124-9221');


INSERT INTO denylist(phone)
VALUES ('(408)-523-9874'),
       ('(408)-511-9876');

SELECT * FROM member;

SELECT * FROM denylist;
"""

run_sql(cursor, sql)

ProgrammingError: the last operation didn't produce a result

In [3]:
sql = """
DELETE FROM member
USING denylist
WHERE member.phone = denylist.phone
RETURNING *;
"""

run_sql(cursor, sql)

   id first_name last_name           phone           phone
0   1       John       Doe  (408)-523-9874  (408)-523-9874
1   2       Jane       Doe  (408)-511-9876  (408)-511-9876

In [4]:
sql = """
DELETE FROM member 
WHERE phone IN (
    SELECT 
      phone 
    FROM 
      denylist
)
RETURNING *;
"""

run_sql(cursor, sql)

Empty DataFrame
Columns: [id, first_name, last_name, phone]
Index: []