![join](./pg_join.png)

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

In [2]:
table1_sql = """
CREATE TABLE basket_a (
    a INT PRIMARY KEY,
    fruit_a VARCHAR (100) NOT NULL
);
"""

table2_sql = """
CREATE TABLE basket_b (
    b INT PRIMARY KEY,
    fruit_b VARCHAR (100) NOT NULL
);
"""

table1_data_sql = """
INSERT INTO basket_a (a, fruit_a)
VALUES
    (1, 'Apple'),
    (2, 'Orange'),
    (3, 'Banana'),
    (4, 'Cucumber');
"""

table2_data_sql = """
INSERT INTO basket_b (b, fruit_b)
VALUES
    (1, 'Orange'),
    (2, 'Apple'),
    (3, 'Watermelon'),
    (4, 'Pear');
"""

cursor.execute(table1_sql)
cursor.execute(table2_sql)

cursor.execute(table1_data_sql)
cursor.execute(table2_data_sql)

![inner join](./pg_inner_join.png)

In [3]:
sql = """
SELECT
    a,
    fruit_a,
    b,
    fruit_b
FROM
    basket_a
INNER JOIN basket_b
    ON fruit_a = fruit_b;
"""
run_sql(cursor, sql)

   a fruit_a  b fruit_b
0  1   Apple  2   Apple
1  2  Orange  1  Orange

![left join](./pg_left_join.png)

In [4]:
sql = """
SELECT
    a,
    fruit_a,
    b,
    fruit_b
FROM
    basket_a
LEFT JOIN basket_b 
   ON fruit_a = fruit_b;
"""
run_sql(cursor, sql)

   a   fruit_a    b fruit_b
0  1     Apple  2.0   Apple
1  2    Orange  1.0  Orange
2  3    Banana  NaN    None
3  4  Cucumber  NaN    None

![left outer join](./pg_left_outer_join.png)

In [5]:
sql = """
SELECT
    a,
    fruit_a,
    b,
    fruit_b
FROM
    basket_a
LEFT JOIN basket_b 
    ON fruit_a = fruit_b
WHERE b IS NULL;
"""
run_sql(cursor, sql)

   a   fruit_a     b fruit_b
0  3    Banana  None    None
1  4  Cucumber  None    None

![full outer join](./pg_full_outer_join.png)

In [6]:
sql = """
SELECT
    a,
    fruit_a,
    b,
    fruit_b
FROM
    basket_a
FULL OUTER JOIN basket_b 
    ON fruit_a = fruit_b;
"""
run_sql(cursor, sql)

     a   fruit_a    b     fruit_b
0  1.0     Apple  2.0       Apple
1  2.0    Orange  1.0      Orange
2  3.0    Banana  NaN        None
3  4.0  Cucumber  NaN        None
4  NaN      None  3.0  Watermelon
5  NaN      None  4.0        Pear

![full outer join unique](./pg_full_outer_join_unique.png)

In [7]:
sql = """
SELECT
    a,
    fruit_a,
    b,
    fruit_b
FROM
    basket_a
FULL JOIN basket_b 
   ON fruit_a = fruit_b
WHERE a IS NULL OR b IS NULL;
"""
run_sql(cursor, sql)

     a   fruit_a    b     fruit_b
0  3.0    Banana  NaN        None
1  4.0  Cucumber  NaN        None
2  NaN      None  3.0  Watermelon
3  NaN      None  4.0        Pear