`CROSS JOIN` 为两张表的行进行了笛卡尔积操作。

![cross join](./pg_cross_join.png)

In [1]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [2]:
sql = """
DROP TABLE IF EXISTS T1;
CREATE TABLE T1 (label CHAR(1) PRIMARY KEY);

DROP TABLE IF EXISTS T2;
CREATE TABLE T2 (score INT PRIMARY KEY);

INSERT INTO T1 (label)
VALUES
	('A'),
	('B');

INSERT INTO T2 (score)
VALUES
	(1),
	(2),
	(3);
"""

In [3]:
cursor.execute(sql)

In [4]:
sql = """
SELECT *
FROM T1
CROSS JOIN T2;
"""

run_sql(cursor, sql)

  label  score
0     A      1
1     B      1
2     A      2
3     B      2
4     A      3
5     B      3