根据定义，序列是整数的有序列表。

```
CREATE SEQUENCE [ IF NOT EXISTS ] sequence_name
    [ AS { SMALLINT | INT | BIGINT } ]
    [ INCREMENT [ BY ] increment ]
    [ MINVALUE minvalue | NO MINVALUE ] 
    [ MAXVALUE maxvalue | NO MAXVALUE ]
    [ START [ WITH ] start ] 
    [ CACHE cache ] 
    [ [ NO ] CYCLE ]
    [ OWNED BY { table_name.column_name | NONE } ]
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [3]:
sql = """
CREATE SEQUENCE mysequence
INCREMENT 5
START 100;
"""

cursor.execute(sql)

In [4]:
sql = """
SELECT nextval('mysequence');
"""

run_sql(cursor, sql)

   nextval
0      100

In [5]:
sql = """
SELECT nextval('mysequence');
"""

run_sql(cursor, sql)

   nextval
0      105

In [2]:
sql = """
CREATE SEQUENCE three
INCREMENT -1
MINVALUE 1 
MAXVALUE 3
START 3
CYCLE;
"""

cursor.execute(sql)

In [3]:
sql = """
SELECT nextval('three');
"""

run_sql(cursor, sql)

   nextval
0        3

In [9]:
sql = """
SELECT nextval('three');
SELECT nextval('three');
SELECT nextval('three');
"""

run_sql(cursor, sql)

   nextval
0        2

# 创建与表列关联的序列

In [10]:
sql = """
CREATE TABLE order_details(
    order_id SERIAL,
    item_id INT NOT NULL,
    item_text VARCHAR NOT NULL,
    price DEC(10,2) NOT NULL,
    PRIMARY KEY(order_id, item_id)
);

CREATE SEQUENCE order_item_id
START 10
INCREMENT 10
MINVALUE 10
OWNED BY order_details.item_id;

INSERT INTO 
    order_details(order_id, item_id, item_text, price)
VALUES
    (100, nextval('order_item_id'),'DVD Player',100),
    (100, nextval('order_item_id'),'Android TV',550),
    (100, nextval('order_item_id'),'Speaker',250);
"""

cursor.execute(sql)

In [11]:
sql = """
SELECT
    order_id,
    item_id,
    item_text,
    price
FROM
    order_details;  
"""

run_sql(cursor, sql)

   order_id  item_id   item_text   price
0       100       10  DVD Player  100.00
1       100       20  Android TV  550.00
2       100       30     Speaker  250.00

In [12]:
# 列出数据库中的所有序列
sql = """
SELECT
    relname sequence_name
FROM 
    pg_class 
WHERE 
    relkind = 'S';
"""

run_sql(cursor, sql)

                 sequence_name
0     customer_customer_id_seq
1           actor_actor_id_seq
2     category_category_id_seq
3             film_film_id_seq
4       address_address_id_seq
5             city_city_id_seq
6       country_country_id_seq
7   inventory_inventory_id_seq
8     language_language_id_seq
9       payment_payment_id_seq
10        rental_rental_id_seq
11          staff_staff_id_seq
12          store_store_id_seq
13                       three
14  order_details_order_id_seq
15               order_item_id
16             accounts_id_seq

# 删除序列

```
DROP SEQUENCE [ IF EXISTS ] sequence_name [, ...] 
[ CASCADE | RESTRICT ];
```

In [ ]:
# 删除表后会自动删除与之关联的序列 order_item_id 
sql = """
DROP TABLE order_details;
"""

run_sql(cursor, sql)