`COALESCE` 函数接收参数列表并返回第一个非空值。如果所有参数都是空值，则返回 `NULL`。
```
COALESCE (argument_1, argument_2, …);
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
CREATE TABLE items (
  id SERIAL PRIMARY KEY, 
  product VARCHAR (100) NOT NULL, 
  price NUMERIC NOT NULL, 
  discount NUMERIC
);

INSERT INTO items (product, price, discount) 
VALUES 
  ('A', 1000, 10), 
  ('B', 1500, 20), 
  ('C', 800, 5), 
  ('D', 500, NULL);
"""
cursor.execute(sql)

In [3]:
sql = """
SELECT 
  product, 
  (price - discount) AS net_price 
FROM 
  items;
"""
run_sql(cursor, sql)

# 输出结果中，D 的 net_price 是 None 因为 D 的 discount 是 NULL

  product net_price
0       A       990
1       B      1480
2       C       795
3       D      None

In [4]:
sql = """
SELECT 
  product, 
  (price - COALESCE(discount, 0)) AS net_price 
FROM 
  items;
"""
run_sql(cursor, sql)

  product net_price
0       A       990
1       B      1480
2       C       795
3       D       500

In [5]:
# 也可以用 case
sql = """
SELECT 
  product, 
  (price - CASE WHEN discount IS NULL THEN 0 ELSE discount END) AS net_price 
FROM 
  items;
"""
run_sql(cursor, sql)

  product net_price
0       A       990
1       B      1480
2       C       795
3       D       500