In [1]:
from common import *

cursor = connect()

# Aggregate Functions

有以下：
- AVG
- COUNT
- MAX
- MIN
- SUM

语法
```
SELECT column1, AGGREGATE_FUNCTION(column2)
FROM table1
GROUP BY column1;
```

## AVG

In [2]:
sql = """
SELECT 
  ROUND(AVG(replacement_cost), 2) avg_replacement_cost 
FROM 
  film;
"""
run_sql(cursor, sql)

  avg_replacement_cost
0                19.98

In [3]:
sql = """
SELECT 
  ROUND(
    AVG(replacement_cost), 
    2
  ) avg_replacement_cost 
FROM 
  film 
  INNER JOIN film_category USING(film_id) 
  INNER JOIN category USING(category_id) 
WHERE 
  category_id = 7;
"""
run_sql(cursor, sql)

  avg_replacement_cost
0                21.09

## COUNT

In [4]:
sql = """
SELECT 
  COUNT(*) 
FROM 
  film;
"""
run_sql(cursor, sql)

   count
0   1000

In [5]:
sql = """
SELECT 
  COUNT(*) drama_films 
FROM 
  film 
  INNER JOIN film_category USING(film_id) 
  INNER JOIN category USING(category_id) 
WHERE 
  category_id = 7;
"""
run_sql(cursor, sql)

   drama_films
0           62

## MAX

In [6]:
sql = """
SELECT 
  MAX(replacement_cost) 
FROM 
  film;
"""
run_sql(cursor, sql)

     max
0  29.99

In [7]:
sql = """
SELECT 
  film_id, 
  title 
FROM 
  film 
WHERE 
  replacement_cost =(
    SELECT 
      MAX(replacement_cost) 
    FROM 
      film
  ) 
ORDER BY 
  title;
"""
run_sql(cursor, sql)

    film_id                    title
0        34             Arabia Dogma
1        52     Ballroom Mockingbird
2        81            Blindness Gun
3        85         Bonnie Holocaust
4       138      Chariots Conspiracy
5       157       Clockwork Paradise
6       163             Clyde Theory
7       196       Cruelty Unforgiven
8       199         Cupboard Sinners
9       224  Desperate Trainspotting
10      232                Dirty Ace
11      238             Doctor Grail
12      270             Earth Vision
13      290           Everyone Craft
14      297  Extraordinary Conquerer
15      302            Fantasia Park
16      309             Feud Frogmen
17      322        Flatliners Killer
18      325            Floats Garden
19      358           Gilmore Boiled
20      366   Goldfinger Sensibility
21      374            Graffiti Love
22      417          Hills Neighbors
23      423      Hollywood Anonymous
24      429               Honey Ties
25      450          Idols Snatchers
26      475             Japanese Run
27      480          Jeepers Wedding
28      483            Jericho Mulan
29      487         Jingle Sagebrush
30      510           Lawless Vision
31      525         Loathing Legally
32      537             Lover Truman
33      644               Oscar Gold
34      663           Patient Sister
35      691         Poseidon Forever
36      698           Princess Giant
37      707          Quest Mussolini
38      714                Random Go
39      723          Reign Gentlemen
40      726     Reservoir Adaptation
41      731             Right Cranes
42      733             River Outlaw
43      759            Salute Apollo
44      762             Sassy Packer
45      803         Slacker Liaisons
46      811            Smile Earring
47      819              Song Hedwig
48      901              Tracy Cider
49      921           Uncut Suicides
50      944             Virgin Daisy
51      969                West Lion
52      994            Wyoming Storm

## MIN

In [8]:
sql = """
SELECT 
  MIN(replacement_cost) 
FROM 
  film;
"""
run_sql(cursor, sql)

    min
0  9.99

In [9]:
sql = """
SELECT 
  film_id, 
  title 
FROM 
  film 
WHERE 
  replacement_cost =(
    SELECT 
      MIN(replacement_cost) 
    FROM 
      film
  ) 
ORDER BY 
  title;

"""
run_sql(cursor, sql)

    film_id                   title
0        23    Anaconda Confessions
1       150            Cider Desire
2       182          Control Anthem
3       203         Daisy Menagerie
4       221  Deliverance Mulholland
5       260          Dude Blindness
6       272            Edge Kissing
7       281              Encino Elf
8       299          Factory Dragon
9       307       Fellowship Autumn
10      348             Gandhi Kwai
11      389    Gunfighter Mussolini
12      409    Heartbreakers Bright
13      476              Jason Trap
14      501           Kissing Dolls
15      522            Life Twisted
16      551             Maiden Home
17      565          Matrix Snowman
18      572         Metropolis Coma
19      623        Newton Labyrinth
20      627           North Tequila
21      629       Notorious Reunion
22      639       Opposite Necklace
23      656           Papi Necklace
24      662           Paths Control
25      686          Pluto Oleander
26      705            Purple Movie
27      747           Roxanne Rebel
28      841          Star Operation
29      845           Stepmom Dream
30      846          Sting Personal
31      863         Sun Confessions
32      875       Talented Homicide
33      880  Telemark Heartbreakers
34      886          Theory Mermaid
35      888          Thin Sagebrush
36      912         Trojan Tomorrow
37      915            Truman Crazy
38      931     Valentine Vanishing
39      953              Wait Cider
40      996          Young Language

## SUM

In [10]:
sql = """
SELECT 
  rating, 
  SUM(rental_duration) 
FROM 
  film 
GROUP BY 
  rating 
ORDER BY 
  rating;
"""
run_sql(cursor, sql)

  rating   sum
0      G   861
1     PG   986
2  PG-13  1127
3      R   931
4  NC-17  1080