# Constraint
CONSTRAINT 是一种用于定义表列约束的关键字。它用于确保数据库中的数据符合特定的规则。
CONSTRAINT 可以用于定义以下类型的约束：
- 非空约束 (NOT NULL)：确保列不能为空。
- 唯一约束 (UNIQUE)：确保列中的值是唯一的。
- 主键约束 (PRIMARY KEY)：确保列中的值是唯一的，并且不能为空。
- 外键约束 (FOREIGN KEY)：确保列中的值与另一个表中的列值相匹配。

## Primary key

```
CREATE TABLE TABLE (
	column_1 data_type PRIMARY KEY,
	column_2 data_type,
	…
);
```

```
CREATE TABLE TABLE (
	column_1 data_type,
	column_2 data_type,
	… 
        PRIMARY KEY (column_1, column_2)
);
```

修改表
```
ALTER TABLE table_name 
ADD PRIMARY KEY (column_1, column_2, ...);
```

或者直接增加主键列
```
ALTER TABLE table_name 
ADD COLUMN col_name SERIAL PRIMARY KEY;
```

也可以这样
```
CONSTRAINT constraint_name 
PRIMARY KEY(column_1, column_2,...);
```

删除主键
```
ALTER TABLE table_name 
DROP CONSTRAINT primary_key_constraint;
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from D:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
CREATE TABLE orders(
  order_id SERIAL PRIMARY KEY, 
  customer_id VARCHAR(255) NOT NULL, 
  order_date DATE NOT NULL
);
"""
cursor.execute(sql)

sql = """
SELECT *
FROM information_schema.columns
WHERE table_name = 'orders';
"""
run_sql(cursor, sql)

  table_catalog table_schema table_name  column_name  ordinal_position  \
0     dvdrental       public     orders     order_id                 1
1     dvdrental       public     orders  customer_id                 2
2     dvdrental       public     orders   order_date                 3

                             column_default is_nullable          data_type  \
0  nextval('orders_order_id_seq'::regclass)          NO            integer
1                                      None          NO  character varying
2                                      None          NO               date

   character_maximum_length  character_octet_length  ...  is_identity  \
0                       NaN                     NaN  ...           NO
1                     255.0                  1020.0  ...           NO
2                       NaN                     NaN  ...           NO

   identity_generation  identity_start  identity_increment identity_maximum  \
0                 None            None                None             None
1                 None            None                None             None
2                 None            None                None             None

  identity_minimum identity_cycle is_generated generation_expression  \
0             None             NO        NEVER                  None
1             None             NO        NEVER                  None
2             None             NO        NEVER                  None

  is_updatable
0          YES
1          YES
2          YES

[3 rows x 44 columns]