```
CREATE TABLE [IF NOT EXISTS] table_name (
   column1 datatype(length) column_constraint,
   column2 datatype(length) column_constraint,
   ...
   table_constraints
);
```

列限制：
- NOT NULL
- UNIQUE
- PRIMARY KEY
- CHECK
- FOREIGN KEY

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [ ]:
sql = """
CREATE TABLE accounts (
  user_id SERIAL PRIMARY KEY, 
  username VARCHAR (50) UNIQUE NOT NULL, 
  password VARCHAR (50) NOT NULL, 
  email VARCHAR (255) UNIQUE NOT NULL, 
  created_at TIMESTAMP NOT NULL, 
  last_login TIMESTAMP
);
"""

cursor.execute(sql)

# SELECT INTO

```
SELECT 
  select_list I
INTO [ TEMPORARY | TEMP ] [ TABLE ] new_table_name 
FROM 
  table_name 
WHERE 
  search_condition;
```

In [2]:
sql = """
SELECT
    film_id,
    title,
    rental_rate
INTO TABLE film_r
FROM
    film
WHERE
    rating = 'R'
AND rental_duration = 5
ORDER BY
    title;
"""

cursor.execute(sql)

In [3]:
sql = """
SELECT * FROM film_r;
"""

run_sql(cursor, sql)

    film_id                    title rental_rate
0        54         Banger Pinocchio        0.99
1       115          Campus Remember        2.99
2       138      Chariots Conspiracy        2.99
3       159              Closer Bang        4.99
4       168        Comancheros Enemy        0.99
5       246      Doubtfire Labyrinth        4.99
6       287  Entrapment Satisfaction        0.99
7       296           Express Lonely        2.99
8       310             Fever Empire        4.99
9       316              Fire Wolves        4.99
10      339         Frogmen Breaking        0.99
11      356           Giant Troopers        2.99
12      358           Gilmore Boiled        0.99
13      372       Graceland Dynamite        4.99
14      384         Grosse Wonderful        4.99
15      406         Haunting Pianist        0.99
16      427           Homeward Cider        0.99
17      447             Ice Crossing        2.99
18      493            Kane Exorcist        0.99
19      543           Madigan Dorado        4.99
20      640                 Opus Ice        4.99
21      686           Pluto Oleander        4.99
22      707          Quest Mussolini        2.99
23      724           Remember Diary        2.99
24      747            Roxanne Rebel        0.99
25      788          Ship Wonderland        2.99
26      808               Sling Luke        0.99
27      833          Splendor Patton        0.99
28      838    Stagecoach Armageddon        4.99
29      840      Stampede Disturbing        0.99
30      856     Streetcar Intentions        4.99
31      858            Submarine Bed        4.99
32      863          Sun Confessions        0.99
33      884          Terminator Club        4.99
34      890              Tights Dawn        0.99
35      935          Vanished Garden        0.99
36      945          Virginian Pluto        0.99
37      967         Weekend Personal        2.99
38      995              Yentl Idaho        4.99
39      999        Zoolander Fiction        2.99

In [4]:
# 临时表
sql = """
SELECT
    film_id,
    title,
    length 
INTO TEMP TABLE short_film
FROM
    film
WHERE
    length < 60
ORDER BY
    title;
"""

cursor.execute(sql)

In [5]:
sql = """
SELECT * FROM short_film
ORDER BY length DESC;
"""

run_sql(cursor, sql)

    film_id                 title  length
0       486         Jet Neighbors      59
1       465    Interview Liaisons      59
2       409  Heartbreakers Bright      59
3       947         Vision Torque      59
4       171  Commandments Express      59
..      ...                   ...     ...
91       15          Alien Center      46
92      730   Ridgemont Submarine      46
93      505      Labyrinth League      46
94      504         Kwai Homeward      46
95      469             Iron Moon      46

[96 rows x 3 columns]