# DELETE CASCADE
学习如何使用 PostgreSQL DELETE CASCADE 在父表删除父记录时删除子表中的相关记录。

```
CREATE TABLE parent_table(
    id SERIAL PRIMARY KEY,
    ...
);

CREATE TABLE child_table(
    id SERIAL PRIMARY KEY,
    parent_id INT,
    FOREIGN_KEY(parent_id) 
       REFERENCES parent_table(id)
       ON DELETE CASCADE
);
```

In [6]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

In [7]:
sql="""
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    department_id INT NOT NULL,
    FOREIGN KEY(department_id) 
       REFERENCES departments(id) 
       ON DELETE CASCADE
);

INSERT INTO departments (name) 
VALUES 
    ('Engineering'),
    ('Sales')
RETURNING *;

INSERT INTO employees (name, department_id) 
VALUES
    ('John Doe', 1),
    ('Jane Smith', 1),
    ('Michael Johnson', 2)
RETURNING *;
"""
cursor.execute(sql)

sql="""
SELECT * FROM departments;
"""
run_sql(cursor, sql)

sql="""
SELECT * FROM employees;
"""
run_sql(cursor, sql)

   id         name
0   1  Engineering
1   2        Sales
   id             name  department_id
0   1         John Doe              1
1   2       Jane Smith              1
2   3  Michael Johnson              2

In [9]:
sql="""
DELETE FROM departments
WHERE id = 1;
"""

sql="""
SELECT * FROM employees;
"""
run_sql(cursor, sql)

   id             name  department_id
0   3  Michael Johnson              2