In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from D:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

# CASE 语句

`case` 是基于特定条件满足后执行语句。`case` 语句有两种形式：简单 `case` 和搜索 `case`。简单 `case` 语句比较一个表达式与一系列可能值，而搜索 `case` 语句比较一系列表达式与可能值。`case` 语句的一般形式如下：

`case 表达式` 与 `case 语句` 的区别：`case 表达式` 会求值，而 `case 语句` 会根据条件选择要执行的部分。


## 简单 CASE 语句
```
case search-expression
   when expression_1 [, expression_2, ...] then
      when-statements
  [ ... ]
  [else
      else-statements ]
END case;
```

`search-expression` 是表达式，会被求值。`search-expression` 的结果会使用（=）与 `when` 中的表达式进行比较，如果匹配则执行 `when-statements`。反之则执行 `else-statements`。

`else` 是可选的。如果 `search-expression` 的结果没有匹配 `when` 的表达式，同时 `else` 不存在，将引发 case_not_found 异常。

In [2]:
sql = """
do $$
declare 
	rate film.rental_rate%type;
	price_segment varchar(50);
begin
    -- get the rental rate
    select rental_rate into rate 
    from film 
    where film_id = 100;
	
	-- assign the price segment
	if found then
		case rate
		   when 0.99 then
              price_segment =  'Mass';
		   when 2.99 then
              price_segment = 'Mainstream';
		   when 4.99 then
              price_segment = 'High End';
		   else
	    	  price_segment = 'Unspecified';
		   end case;
		   
		raise notice '%', price_segment;  
	else
		raise notice 'film not found';  
    end if;
end; $$
"""
cursor.execute(sql)

High End

## 搜索 CASE 语句

```
case
    when boolean-expression-1 then
      statements
  [ when boolean-expression-2 then
      statements
    ... ]
  [ else
      statements ]
end case;
```

In [3]:
sql = """
do $$ 
declare
    total_payment numeric; 
    service_level varchar(25) ;
begin
     select sum(amount) into total_payment
     from Payment
     where customer_id = 100; 
	 
	 if found then
	    case 
		   when total_payment > 200 then
               service_level = 'Platinum' ;
           when total_payment > 100 then
	           service_level = 'Gold' ;
           else
               service_level = 'Silver' ;
        end case;
		raise notice 'Service Level: %', service_level;
     else
	    raise notice 'Customer not found';
	 end if;
end; $$ 

"""
cursor.execute(sql)

Service Level: Gold