# Check 约束
在 PostgreSQL 中，CHECK 约束确保列或列组中的值满足特定条件。约束使用布尔表达式来评估值，确保只有有效数据才能在表中插入或更新。

```sql
CREATE TABLE table_name(
   column1 datatype,
   ...,
   CONSTRAINT constraint_name CHECK(condition)
);
```

默认情况下， PG 会为 `CHECK` 给定一个以下格式的名称：
```
{table_name}_{column_name}_check
```

为已经存在的表增加 `CHECK` 约束：
```sql
ALTER TABLE table_name
ADD CONSTRAINT constraint_name CHECK (condition);
```

删除 `CHECK` 约束：
```sql
ALTER TABLE table_name
DROP CONSTRAINT constraint_name;
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from D:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
# 创建表
sql= """
CREATE TABLE employees (
  id SERIAL PRIMARY KEY, 
  first_name VARCHAR (50) NOT NULL, 
  last_name VARCHAR (50) NOT NULL,  
  birth_date DATE NOT NULL, 
  joined_date DATE NOT NULL, 
  salary numeric CHECK(salary > 0)
);

INSERT INTO employees (first_name, last_name, birth_date, joined_date, salary) 
VALUES ('John', 'Doe', '1972-01-01', '2015-07-01', -100000);
"""
cursor.execute(sql)

# 运行时会提示插入错误

KeyboardInterrupt:

In [ ]:
sql ="""
ALTER TABLE employees
ADD CONSTRAINT joined_date_check
CHECK ( joined_date >  birth_date );

INSERT INTO employees (first_name, last_name, birth_date, joined_date, salary) 
VALUES ('John', 'Doe', '1990-01-01', '1989-01-01', 100000);
"""

cursor.execute(sql)
# 运行时会提示插入错误

## 在 CHECK 约束中使用函数
```
ALTER TABLE employees
ADD CONSTRAINT first_name_check
CHECK ( LENGTH(TRIM(first_name)) >= 3);
```

In [ ]:
sql ="""
INSERT INTO employees (first_name, last_name, birth_date, joined_date, salary) 
VALUES ('Ab', 'Doe', '1990-01-01', '2008-01-01', 100000);
"""

cursor.execute(sql)
# 运行时会提示插入错误

## 删除 CHECK 约束
```sql
ALTER TABLE employees
DROP CONSTRAINT joined_date_check;
```