In [6]:
from common import *

cursor = connect()

# Alert View

```
ALTER VIEW [IF EXISTS] view_name
action;
```

`action` 可以是重命名等操作。


## 重命名

```
ALTER VIEW [ IF EXISTS ] view_name
RENAME TO new_view_name;
```

## 更改视图选项

```
ALTER VIEW [ IF EXISTS ] view_name
SET ( view_option_name [= view_option_value] [, ... ] );
```

`view_option_name` 有：
- `check_option`: `CASCADE` 或 `LOCAL`
- `security_barrier`: `TRUE` 或 `FALSE`
- `security_invoker`: `TRUE` 或 `FALSE`

## 更改视图列

```
ALTER VIEW [ IF EXISTS ] view_name
RENAME [ COLUMN ] column_name TO new_column_name;
```

## 设置新的范式（schema）

```
ALTER VIEW [ IF EXISTS ] view_name
SET SCHEMA new_schema;
```

# Listing View

In [4]:
sql = """
SELECT 
  table_schema, 
  table_name
FROM 
  information_schema.views 
WHERE 
  table_schema NOT IN (
    'information_schema', 'pg_catalog'
  ) 
ORDER BY 
  table_schema, 
  table_name;
"""
run_sql(cursor, sql)

  table_schema                  table_name
0       public                  actor_info
1       public               customer_list
2       public                   film_list
3       public  nicer_but_slower_film_list
4       public      sales_by_film_category
5       public              sales_by_store
6       public                  staff_list

In [7]:
sql = """
SELECT * FROM pg_matviews
"""
run_sql(cursor, sql)

Empty DataFrame
Columns: [schemaname, matviewname, matviewowner, tablespace, hasindexes, ispopulated, definition]
Index: []