```
CREATE TABLE table_name(
    id SERIAL
);
```

等同于
```
CREATE SEQUENCE table_name_id_seq;

CREATE TABLE table_name (
    id integer NOT NULL DEFAULT nextval('table_name_id_seq')
);

ALTER SEQUENCE table_name_id_seq
OWNED BY table_name.id;
```

Name	        Storage Size	    Range
SMALLSERIAL     	2 bytes	        1 to 32,767
SERIAL          	4 bytes	        1 to 2,147,483,647
BIGSERIAL       	8 bytes	        1 to 9,223,372,036,854,775,807

In [3]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

In [4]:
sql = """
CREATE TABLE fruits(
   id SERIAL PRIMARY KEY,
   name VARCHAR NOT NULL
);
INSERT INTO fruits(name) 
VALUES('Orange'),('Apple')

RETURNING id;
"""

cursor.execute(sql)

In [5]:
sql = """
SELECT * FROM fruits;
"""

run_sql(cursor, sql)

   id    name
0   1  Orange
1   2   Apple

In [6]:
sql = """
SELECT currval(pg_get_serial_sequence('fruits', 'id'));
"""

run_sql(cursor, sql)

   currval
0        2