# CASE 条件表达式

有两种形式：
- General
- Simple


## General
```
CASE 
      WHEN condition_1  THEN result_1
      WHEN condition_2  THEN result_2
      [WHEN ...]
      [ELSE else_result]
END
```

从上往下进行表达式计算，直到遇到为 `true`，其返回的值为此条件返回的值。当所有的条件都返回 `false` 时，则返回 `else_result`。

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from D:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql="""
SELECT 
  title, 
  length, 
  CASE WHEN length > 0 
  AND length <= 50 THEN 'Short' WHEN length > 50 
  AND length <= 120 THEN 'Medium' WHEN length > 120 THEN 'Long' END duration 
FROM 
  film 
ORDER BY 
  title;
"""
run_sql(cursor, sql)

                 title  length duration
0     Academy Dinosaur      86   Medium
1       Ace Goldfinger      48    Short
2     Adaptation Holes      50    Short
3     Affair Prejudice     117   Medium
4          African Egg     130     Long
..                 ...     ...      ...
995     Young Language     183     Long
996         Youth Kick     179     Long
997       Zhivago Core     105   Medium
998  Zoolander Fiction     101   Medium
999          Zorro Ark      50    Short

[1000 rows x 3 columns]

In [3]:
# 在聚合函数中使用 `CASE`
sql = """
SELECT 
  SUM (
    CASE WHEN rental_rate = 0.99 THEN 1 ELSE 0 END
  ) AS "Economy", 
  SUM (
    CASE WHEN rental_rate = 2.99 THEN 1 ELSE 0 END
  ) AS "Mass", 
  SUM (
    CASE WHEN rental_rate = 4.99 THEN 1 ELSE 0 END
  ) AS "Premium" 
FROM 
  film;
"""
run_sql(cursor, sql)

   Economy  Mass  Premium
0      341   323      336

## Simple
```
CASE expression
   WHEN value_1 THEN result_1
   WHEN value_2 THEN result_2 
   [WHEN ...]
ELSE
   else_result
END
```

In [11]:
sql="""
SELECT title,
       rating,
       CASE rating
           WHEN 'G' THEN 'General Audiences'
           WHEN 'PG' THEN 'Parental Guidance Suggested'
           WHEN 'PG-13' THEN 'Parents Strongly Cautioned'
           WHEN 'R' THEN 'Restricted'
           WHEN 'NC-17' THEN 'Adults Only'
       END rating_description
FROM film
ORDER BY title;
"""
run_sql(cursor, sql)

                 title rating           rating_description
0     Academy Dinosaur     PG  Parental Guidance Suggested
1       Ace Goldfinger      G            General Audiences
2     Adaptation Holes  NC-17                  Adults Only
3     Affair Prejudice      G            General Audiences
4          African Egg      G            General Audiences
..                 ...    ...                          ...
995     Young Language      G            General Audiences
996         Youth Kick  NC-17                  Adults Only
997       Zhivago Core  NC-17                  Adults Only
998  Zoolander Fiction      R                   Restricted
999          Zorro Ark  NC-17                  Adults Only

[1000 rows x 3 columns]

In [12]:
# 在聚合函数中使用 `Simple CASE`
sql= """
SELECT 
  SUM(CASE rating WHEN 'G' THEN 1 ELSE 0 END) "General Audiences", 
  SUM(
    CASE rating WHEN 'PG' THEN 1 ELSE 0 END
  ) "Parental Guidance Suggested", 
  SUM(
    CASE rating WHEN 'PG-13' THEN 1 ELSE 0 END
  ) "Parents Strongly Cautioned", 
  SUM(CASE rating WHEN 'R' THEN 1 ELSE 0 END) "Restricted", 
  SUM(
    CASE rating WHEN 'NC-17' THEN 1 ELSE 0 END
  ) "Adults Only" 
FROM 
  film;
"""
run_sql(cursor, sql)

   General Audiences  Parental Guidance Suggested  Parents Strongly Cautioned  \
0                178                          194                         223

   Restricted  Adults Only
0         195          210