In [4]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

# Procedure Drop

语法：
```
drop procedure [if exists] procedure_name (argument_list)
[cascade | restrict]
```

In [5]:
sql_insert = """
create or replace procedure insert_actor(
	fname varchar, 
	lname varchar)
language plpgsql	
as $$
begin
	insert into actor(first_name, last_name)
	values('John','Doe');
end;
$$;
"""

sql_insert2 = """
create or replace procedure insert_actor(
	full_name varchar
)
language plpgsql	
as $$
declare
	fname varchar;
	lname varchar;
begin
	-- split the fullname into first & last name
	select 
		split_part(full_name,' ', 1),
		split_part(full_name,' ', 2)
	into fname,
	     lname;
	
	-- insert first & last name into the actor table
	insert into actor(first_name, last_name)
	values('John','Doe');
end;
$$;
"""

sql_delete = """
create or replace procedure delete_actor(
	p_actor_id int
)
language plpgsql
as $$
begin
	delete from actor 
	where actor_id = p_actor_id;
end; 
$$;
"""

sql_update = """
create or replace procedure update_actor(
	p_actor_id int,
	fname varchar,
	lname varchar
)
language plpgsql
as $$
begin
	update actor 
	set first_name = fname,
	    last_name = lname
	where actor_id = p_actor_id;
end; 
$$;
"""

cursor.execute(sql_insert)
cursor.execute(sql_insert2)
cursor.execute(sql_delete)
cursor.execute(sql_update)

In [3]:
# Drop with error。因为存在两个 insert_actor
sql = """
drop procedure insert_actor;
"""
cursor.execute(sql)

AmbiguousFunction: 过程名 insert_actor 不是唯一的
HINT:  指定参数列表以明确选择过程.

In [6]:
# Drop
sql = """
drop procedure insert_actor(varchar);
"""
cursor.execute(sql)

通过 `drop procedure insert_actor(varchar)` 删除后，剩余的可以通过 `drop procedure insert_actor;` 或者 `drop procedure insert_actor(varchar,varchar);` 均可。

In [7]:
# Drop others
sql = """
drop procedure 
	delete_actor, 
	update_actor;
"""
cursor.execute(sql)