```
TRUNCATE TABLE 
    table_name1, 
    table_name2,
    ...;
```
```
TRUNCATE TABLE table_name 
CASCADE;
```

In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from D:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

In [2]:
sql = """
CREATE TABLE products(
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    price DECIMAL(10,2) NOT NULL DEFAULT 0
);
INSERT INTO products (name, price) 
VALUES
    ('A', 19.99),
    ('B', 29.99),
    ('C', 39.99),
    ('D', 49.99)
RETURNING *;
"""
cursor.execute(sql)

In [3]:
sql = """
SELECT * FROM products;
"""
run_sql(cursor, sql)

   id name  price
0   1    A  19.99
1   2    B  29.99
2   3    C  39.99
3   4    D  49.99

In [4]:
sql = """
TRUNCATE TABLE products;
"""
cursor.execute(sql)

In [5]:
sql = """
SELECT * FROM products;
"""
run_sql(cursor, sql)

Empty DataFrame
Columns: [id, name, price]
Index: []

In [6]:
sql = """
CREATE TABLE vendors(
   id SERIAL PRIMARY KEY,
   name VARCHAR(255) NOT NULL,
   phone VARCHAR(25) NOT NULL
);

INSERT INTO vendors (name, phone) VALUES
    ('ABC Electronics', '555-123-4567'),
    ('XYZ Supplies', '999-888-7777'),
    ('Tech Solutions Inc.', '111-222-3333')

RETURNING *;
"""
cursor.execute(sql)

ProgrammingError: the last operation didn't produce a result

In [ ]:
sql = """
TRUNCATE TABLE customers, vendors;
"""
cursor.execute(sql)

In [ ]:
sql = """
CREATE TABLE orders(
  order_id SERIAL PRIMARY KEY, 
  customer_name VARCHAR(255) NOT NULL, 
  ordered_date DATE NOT NULL, 
  status VARCHAR(20) NOT NULL
);

CREATE TABLE order_items (
  order_id INT NOT NULL, 
  item_id INT NOT NULL, 
  product_name VARCHAR(255) NOT NULL, 
  quantity INT NOT NULL, 
  FOREIGN KEY (order_id)
     REFERENCES orders(order_id) ON DELETE CASCADE ON UPDATE CASCADE, 
  PRIMARY KEY (order_id, item_id)
);

INSERT INTO orders (customer_name, ordered_date, status) 
VALUES 
  ('John Doe', '2024-01-25', 'Processing'),
  ('Jane Smith', '2024-01-26', 'Shipped'),
  ('Bob Johnson', '2024-01-27', 'Delivered');

INSERT INTO order_items (order_id, item_id, product_name, quantity) 
VALUES 
  (1, 1, 'A', 2),
  (1, 2, 'B', 1),
  (2, 1, 'C', 3),
  (3, 1, 'D', 5),
  (3, 2, 'E', 2);
"""
cursor.execute(sql)

In [ ]:
sql = """
TRUNCATE TABLE orders CASCADE;
"""

cursor.execute(sql)