In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

# Cursor

游标用来处理数据库查询结果的数据集。游标是一个指向数据集的指针，游标通常指向数据集的第一行。游标的工作方式类似于文件操作中的指针。游标可以用来遍历数据集中的每一行。使用游标的过程如下：
- 声明游标
- 打开游标
- 从结果集中提取行到记录或变量列表中
- 处理获取的行数据，如果没有更多的行可供获取，则退出循环
- 关闭游标

## 声明
```
DECLARE cursor_name CURSOR FOR select_statement;
```

## 打开
```
OPEN cursor_name;
```

## 获取
```
FETCH NEXT FROM cursor_name INTO variable_list;
```

## 处理数据
```
LOOP    
    -- Fetch the next row
    FETCH NEXT FROM cursor_name INTO variable_list;

    -- exit if not found
    EXIT WHEN NOT FOUND;

    -- Process the fetched row
    ...

END LOOP;
```

## 关闭
```
CLOSE cursor_name;
```

In [2]:
sql = """
CREATE OR REPLACE FUNCTION fetch_film_titles_and_years(
   OUT p_title VARCHAR(255), 
   OUT p_release_year INTEGER
)
RETURNS SETOF RECORD AS
$$
DECLARE
    film_cursor CURSOR FOR
        SELECT title, release_year
        FROM film;
    film_record RECORD;
BEGIN
    -- Open cursor
    OPEN film_cursor;

    -- Fetch rows and return
    LOOP
        FETCH NEXT FROM film_cursor INTO film_record;
        EXIT WHEN NOT FOUND;

        p_title = film_record.title;
        p_release_year = film_record.release_year;
        RETURN NEXT;
    END LOOP;

    -- Close cursor
    CLOSE film_cursor;
END;
$$
LANGUAGE PLPGSQL;
"""
cursor.execute(sql)

In [4]:
sql = """
SELECT * FROM fetch_film_titles_and_years();
"""
run_sql(cursor, sql)

               p_title  p_release_year
0      Chamber Italian            2006
1     Grosse Wonderful            2006
2      Airport Pollock            2006
3    Bright Encounters            2006
4     Academy Dinosaur            2006
..                 ...             ...
995     Young Language            2006
996         Youth Kick            2006
997       Zhivago Core            2006
998  Zoolander Fiction            2006
999          Zorro Ark            2006

[1000 rows x 2 columns]