In [1]:
from common import *

cursor = connect()

# TRUNCATE Trigger

`TRUNCATE TABLE` 语句从表中删除所有内容而不创建任何日志，使其比 DELETE 操作更快。`BEFORE TRUNCATE` 触发器是语句级触发器，因为 `TRUNCATE` 语句从表中删除所有行，而不是单个行。尽管 `TRUNCATE` 操作从表中删除行，但它不会激活 `DELETE 触发器`，包括 `BEFORE` 和 `AFTER DELETE` 触发器。

语法
```
CREATE TRIGGER trigger_name
BEFORE TRUNCATE ON table_name
FOR EACH STATEMENT
EXECUTE FUNCTION trigger_function_name();
```

In [2]:
sql = """
CREATE TABLE companies(
   id SERIAL PRIMARY KEY,
   name VARCHAR(255) NOT NULL
);

INSERT INTO companies(name)
VALUES ('Apple'),
       ('Microsoft'), 
       ('Google')
RETURNING *;
"""
cursor.execute(sql)

In [3]:
sql = """
CREATE OR REPLACE FUNCTION before_truncate_companies()
RETURNS TRIGGER AS
$$
BEGIN
    RAISE NOTICE 'Truncating the companies table is not allowed';
    RETURN NULL;
END;
$$
LANGUAGE plpgsql;

CREATE TRIGGER before_truncate_companies_trigger
BEFORE TRUNCATE ON companies
FOR EACH STATEMENT
EXECUTE FUNCTION before_truncate_companies();
"""
cursor.execute(sql)

In [4]:
sql = """
TRUNCATE TABLE companies;
"""
try:
    cursor.execute(sql)
except Exception as e:
    print(e)

Truncating the companies table is not allowed