In [1]:
import common.ipynb_importer
from db.pg.pg_00_common import *

cursor = pg_connect()

importing Jupyter notebook from E:\sourcecode\keep_learning\db\pg\pg_00_common.ipynb

# INOUT 参数

语法
```sql
create or replace procedure sp_name(
    inout parameter type, ...
)
as
$$
   -- body
$$
language plpgsql;
```

In [2]:
sql = """
create or replace procedure count_film(
    inout total_film int default 0
) 
as 
$$
begin
    select count(*) from film
    into total_film;
end;
$$
language plpgsql;
"""
cursor.execute(sql)

In [3]:
# 直接调用
sql = """
call count_film(0);
"""
run_sql(cursor, sql)

   total_film
0        1000

In [4]:
# 在匿名块中调用
sql = """
do
$$
declare
   total_film int = 0;
begin
   call count_film(total_film);
   raise notice 'Total film: %', total_film;
end;
$$;
"""
cursor.execute(sql)

Total film: 1000

In [5]:
# 多个 INOUT 参数
sql = """
create or replace procedure film_stat(
   inout total_film int default 0,
   inout total_length int default 0,
   inout avg_rental_rate numeric(4,2) default 0
)
as
$$
begin
  select count(*) into total_film
  from film;
  
  select sum(length) into total_length
  from film;
  
  select round(avg(rental_rate),2) into avg_rental_rate
  from film;  
end;
$$
language plpgsql;
"""
cursor.execute(sql)

In [6]:
# 直接调用
sql = """
call film_stat();
"""
run_sql(cursor, sql)

   total_film  total_length avg_rental_rate
0        1000        115272            2.98