布尔值：`true`,`false` 和 `null`。
表示 `true` 的有：`true`, `'t'`, `'true'`, `'y'`, `'yes'`, `'1'`；
表示 `false` 的有：`false`, `'f'`, `'false'`, `'n'`, `'no'`, `'0'`

In [3]:
import ipynb_importer
%run pg_00_common.ipynb
cursor = pg_connect()

In [4]:
sql = """
SELECT 
  title, 
  length, 
  rental_rate 
FROM 
  film 
WHERE 
  length > 180 
  AND rental_rate < 1;
"""

run_sql(cursor, sql)

                title  length rental_rate
0       Catch Amistad     183        0.99
1    Haunting Pianist     181        0.99
2      Intrigue Worst     181        0.99
3       Love Suicides     181        0.99
4  Runaway Tenenbaums     181        0.99
5     Smoochy Control     184        0.99
6      Sorority Queen     184        0.99
7      Theory Mermaid     184        0.99
8         Wild Apollo     181        0.99
9      Young Language     183        0.99

In [5]:
sql = """
SELECT 
  title, 
  rental_rate 
FROM 
  film 
WHERE 
  rental_rate = 0.99 OR 
  rental_rate = 2.99;
"""

run_sql(cursor, sql)

                 title rental_rate
0     Academy Dinosaur        0.99
1     Adaptation Holes        2.99
2     Affair Prejudice        2.99
3          African Egg        2.99
4         Agent Truman        2.99
..                 ...         ...
659     Wrong Behavior        2.99
660     Young Language        0.99
661         Youth Kick        0.99
662       Zhivago Core        0.99
663  Zoolander Fiction        2.99

[664 rows x 2 columns]