安装完成后，创建数据库：
> psql -U postgres
> 
> CREATE DATABASE dvdrental;

导入测试数据：
> pg_restore -U postgres -d dvdrental ./dvdrental.tar

# Select

支持以下 clauses：
- 使用 `DISTINCT` 选择唯一的行
- 使用 `ORDER BY` 进行排序
- 使用 `WHERE` 进行行过滤
- 使用 `LIMIT` 或者 `FETCH` 选择子集
- 使用 `GROUP BY` 将结果分组
- 使用 `HAVING` 进行组过滤
- 使用 joins 进行表联合，例如：`INNER JOIN`, `LEFT JOIN`, `FULL OUTER JOIN`, `CROSS JOIN`
- 使用 `UNION`、`INTERSECT` 和 `EXCEPT` 执行集合运算

In [18]:
import psycopg
conn_info = f'host=localhost port=5432 dbname=dvdrental user=postgres password=1234'
conn = psycopg.connect(conninfo=conn_info)

# 创建游标对象
cursor = conn.cursor()

In [10]:
# 执行查询
cursor.execute("SELECT first_name FROM customer;")

# 获取单行数据
row = cursor.fetchone()
print(row)

('Jared',)

In [12]:
# 查询多列
cursor.execute("SELECT first_name,last_name,email FROM customer;")

# 获取单行数据
row = cursor.fetchone()
print(row)

('Jared', 'Ely', 'jared.ely@sakilacustomer.org')

In [13]:
# 获取所有列
cursor.execute("SELECT * FROM customer;")

# 获取单行数据
row = cursor.fetchone()
print(row)

(524, 1, 'Jared', 'Ely', 'jared.ely@sakilacustomer.org', 530, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)

在查询语句中尽量不要使用 `*`，有以下几个原因：
- 数据库性能。如果这个表包含了大量的数据和许多列时，因为 `*` 会返回表的所有列，因此也包括了很多不需要的数据；
- 应用程序性能。检索不必要的数据会加大应用程序与数据库服务之间的负载。

In [15]:
# 表达式语句
cursor.execute("SELECT first_name || ' ' || last_name FROM customer;")

# 获取单行数据
row = cursor.fetchone()
print(row)

cursor.execute("SELECT first_name || ' ' || last_name full_name FROM customer;")

# 获取单行数据
row = cursor.fetchone()
print(row)

('Jared Ely',)
('Jared Ely',)

`||` 是串联运算符，要为新列赋予新的名字，可以在语句后再接上新列名字。

In [17]:
# 不指定 FROM
cursor.execute("SELECT NOW();")
row = cursor.fetchone()
print(row)

(datetime.datetime(2024, 1, 23, 14, 18, 50, 27710, tzinfo=zoneinfo.ZoneInfo(key='Asia/Shanghai')),)