```
SELECT 
  select_list 
FROM 
  table_name 
ORDER BY 
  sort_expression1 [ASC | DESC], 
  sort_expression2 [ASC | DESC],
  ...;
```

In [28]:
import psycopg
import pandas as pd

conn_info = f'host=localhost port=5432 dbname=dvdrental user=postgres password=1234'
conn = psycopg.connect(conninfo=conn_info)

# 创建游标对象
cursor = conn.cursor()

In [20]:
# cursor.execute("SELECT first_name, last_name FROM customer ORDER BY first_name ASC;")

# ASC 是默认的，因此可以省略
cursor.execute("SELECT first_name, last_name FROM customer ORDER BY first_name;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

    first_name last_name
0        Aaron     Selby
1         Adam     Gooch
2       Adrian     Clary
3        Agnes    Bishop
4         Alan      Kahn
..         ...       ...
594     Willie    Howell
595      Wilma  Richards
596    Yolanda    Weaver
597     Yvonne   Watkins
598    Zachary      Hite

[599 rows x 2 columns]

In [21]:
cursor.execute("SELECT first_name, last_name FROM customer ORDER BY last_name DESC;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

    first_name  last_name
0      Cynthia      Young
1       Marvin        Yee
2         Luis      Yanez
3        Brian      Wyman
4       Brenda     Wright
..         ...        ...
594     Gordon     Allard
595      Diana  Alexander
596   Kathleen      Adams
597  Nathaniel       Adam
598     Rafael      Abney

[599 rows x 2 columns]

In [22]:
cursor.execute("SELECT first_name, last_name FROM customer ORDER BY first_name ASC, last_name DESC;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

    first_name last_name
0        Aaron     Selby
1         Adam     Gooch
2       Adrian     Clary
3        Agnes    Bishop
4         Alan      Kahn
..         ...       ...
594     Willie    Howell
595      Wilma  Richards
596    Yolanda    Weaver
597     Yvonne   Watkins
598    Zachary      Hite

[599 rows x 2 columns]

In [23]:
cursor.execute("SELECT first_name, LENGTH(first_name) len FROM customer ORDER BY len DESC;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

      first_name  len
0    Christopher   11
1     Jacqueline   10
2      Constance    9
3      Katherine    9
4      Nathaniel    9
..           ...  ...
594          Ida    3
595          Sue    3
596          Sam    3
597          Dan    3
598           Jo    2

[599 rows x 2 columns]

当返回的数据中包含了 `NULL` 数据时，通过 `NULL FIRST` 或 `NULL LAST` 可以指定 `NULL` 数据的顺序。
```
ORDER BY sort_expresssion [ASC | DESC] [NULLS FIRST | NULLS LAST]
```

In [29]:
# 创建一张新表
cursor.execute("CREATE TABLE sort_demo(num INT);")

# 插入点数据
cursor.execute("INSERT INTO sort_demo(num) VALUES (1),(2),(3),(null);")

In [30]:
# 查询
cursor.execute("SELECT num FROM sort_demo ORDER BY num;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

   num
0  1.0
1  2.0
2  3.0
3  NaN

In [31]:
# 查询
cursor.execute("SELECT num FROM sort_demo ORDER BY num NULLS FIRST;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

   num
0  NaN
1  1.0
2  2.0
3  3.0

In [32]:
# 查询
cursor.execute("SELECT num FROM sort_demo ORDER BY num DESC;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

   num
0  NaN
1  3.0
2  2.0
3  1.0

In [33]:
# 查询
cursor.execute("SELECT num FROM sort_demo ORDER BY num DESC NULLS LAST;")

data = cursor.fetchall()
col_names = [desc[0] for desc in cursor.description]

df=pd.DataFrame(data, columns=col_names)
print(df)

   num
0  3.0
1  2.0
2  1.0
3  NaN